WALLET_ADDRESS=kQAEtrnVIo1S8HHn0GgKsN3CVm4XyrxsBszTPaaC482QgY4R

# npm run build
# npx blueprint run wallet/deployWallet --testnet
# npx blueprint run wallet/getSeqno --testnet
# npx blueprint run wallet/getPublicKey --testnet
# npx blueprint run wallet/getWalletContractAddress --testnet
# npx blueprint run wallet/sendMoney --testnet
# npx blueprint run wallet/sendMoneyToEmpty --testnet